{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static '/css/main.css'%}">
</head>
<body>
  <div class="container">
    <img class="image" src="{% static '/img/6bc2f950-81f7-4cc8-8337-57a1c417271b.jpg' %}" alt="">

</div>
<div class="image2">
  <img src="{% static '/img/873f6235-4939-4dc9-9282-0ae570635a7a.jpg' %}" alt="">
</div>
<nav class="nav">

<a href="#">Home</a>
<a  href="/register">Register</a>

<a href="/login">Login</a>
</nav>
<div class="text">
  <h1>ATTENDENCE MANAGEMENT</h1>
    <h1>SYSTEM</h1>
</div>
<img class="girl" src="{% static '/img/b0b726fc-6742-44ea-82fd-cf31442155fa.jpg'%} "alt="">
</body>
</html>
