{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static '/css/login.css'%}">
</head>
<body>
  <div class="design">
    <img class="design1" src="{% static '/img/register1.jpg' %}" alt="">

    <div class="text">
      <img class="logo" src="{% static '/img/download.png' %}" alt="">
      <h1>WELCOME BACK</h1>
      <p>Nice to see you again</p>

    </div>
        <img class="design2" src="{% static '/img/register2.jpg' %}" alt="">
  </div>
  <div class="form">
<h1 class="staff">LOGIN</h1>
<div class="input_fields">
  <form action="login" method="post">
  <input type="text" name="staff_id" placeholder="Staff ID">
  {% csrf_token %}
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit" class="submit"name="button">Login</button>

  <p>Don't have account?  <a href="/register">Create one</a></p>
  </form>
</div>

<div>
{% for message in messages %}
<h1>{{message}}</h1>
{% endfor %}
</div>
</div>
</body>
</html>
